html, body {
	/*height: 100vh;*/
	background-color: #e2e2e2;
	width: 100%;
	height: 0%;
}

#top {
	height:3%;
}

.container-fluid div[class^="col"] {
	border: 5px solid #2a9621;
	border-radius: 10px;
	background: #fcfcfc;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Helvetica;
	margin: 5px;
	display: inline-block;
}

#nav-content {
	border: none;
}

.row {
	flex-wrap: nowrap;
}

#nav {
	height: 3%;
	background-color: #a0a0a0;
	padding: 15px;
}

#lostinfo, #foundinfo {
	height: 94vh;
}

#map {
	height:90%;
}

#postItem {
	padding: 21px;
	font-size: 24px;
}

#logout {
	padding: 37px;
}